* {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;

}

section {
    background-color: white;
    border-radius: 10px;
    padding: 24px;
    width: 30%;
    
}

